/* estilo para el body */
body {
  background-color: #121212;
  color: #b4b1b1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*estilo del encabezado */
header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 20, 20);
  font-size: 30px;
  font-weight: bold;
  background-image: url("../imagenes/logoBanner.png");
  background-size: cover; /* Ajusta la imagen al tamaño del header */
  background-position: center;
  background-repeat: no-repeat;
}

/* estilo del menú*/
nav {
  margin: 20px 0;
}
/*enlace al menú*/
nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
  color: #ff9800;
}

/*estilo para las imagenes del inicio */
.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*estilo del contenedor del artículo */
.article-container {
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

/*estilo del título del artículo */
.article-title {
  font-size: 2rem;
  font-weight: bold;
  color: #060404;
  margin-bottom: 10px;
}

/*estilo del texto de la metadata (fecha y autor) */
.article-meta {
  font-size: 1rem;
  color: #bbb;
}

/*estilo del cuerpo del artículo */
.article-body {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #040303;
  margin-top: 20px;
}

/* estilo de las imágenes del artículo */
.article-image {
  margin: 20px 0;
  text-align: center;
  width: 300px;
}
/* estilo de las imágenes dentro del artículo */
.article-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
}
/* estilo para la descripcion de la imagen */
figcaption {
  font-style: italic;
  color: #bbb;
}

/* estilo del pie del artículo */
.article-footer {
  text-align: center;
  font-size: 0.9rem;
  color: #0f0a0a;
  margin-top: 40px;
}

/* estilo del pie de página */
footer {
  background-color: #1e1e1e;
  padding: 10px;
  margin-top: 20px;
  color: #bbb;
}
.user-info {
  float: right;
  margin: 10px;
  color: white;
}
.logout-btn {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}
